<%= javascript_include_tag "bookmarks.js" %>
<%= stylesheet_link_tag "bookmarks/new", :medea => "all" %>

<div class="container">
	<div class="form-wrapper">
		<h1>登録フォーム</h1>
		<div class="post-title">
			<div class="active">ブックマーク</div>
			<div><%= link_to "自作サービス", new_work_path %></div>
		</div>
		<div class="new-posts">
			<%= form_for(@bookmark) do |f| %>
				<div class="field">
					<%= f.label :servive_name, 'サービス名' %><span class="form-require">必須</span></br>
					<%= f.text_field :service_name %>
					<% if @service_name_errmsg.present? %>
						<div class="error-message">入力してください</div>
					<% end %>
				</div>
				<div class="field">
					<%= f.label :url, 'URL' %><span class="form-require">必須</span></br>
					<%= f.text_field :url %>
					<% if @url_errmsg.present? %>
						<% if @already_exist_flag == true %>
							<div class="error-message">すでにブックマーク済みのURLです</div>
						<% else %>
							<div class="error-message">入力してください</div>
						<% end %>
					<% end %>
				</div>
				
				<div class="field">
					<%= f.label :service_image, 'メインイメージ' %></br>
					<%= f.attachment_field :service_image %>
				</div>
				<div class="field">
					<%= f.label :tag_list, 'タグ' %></br>
					<%= text_field_tag 'bookmark[tag_list]', @bookmark.tag_list.join(','), placeholder: "カンマ区切りで入力（例：SNS,写真)", "data-role" => "tagsinput" %> <!-- 仮に -->
				</div>
				<div class="check-box-field">
					<%= f.label :is_published, '公開設定' %></br>
					<div class="radio-area">
						<div><span><%= f.check_box :is_published, {class: "toggle-btn center"} , "true", "false" %></span></div>
					</div>
				</div>
				<div class="check-box-field">
					<%= f.label :is_recommended, 'おすすめ設定（3つまで）' %></br>
					<div class="radio-area">
						<div><span><%= f.check_box :is_recommended, {class: "toggle-btn center"} , "true", "false" %></span></div>
					</div>
					<% if @too_many_recommended_flag.present? %>
						<div class="error-message">おすすめ設定は3つまでです</div>
					<% end %>
				</div>
				<div class="actions">
					<%= f.submit 'ブックマークに追加する', class: "btn btn-success" %>
				</div>
			<% end %>
		</div>
	</div>
</div>