<%= stylesheet_link_tag "bookmarks/new", :media => "all" %>

<div class="container">
  <div class="form-wrapper">
    <h1>ログイン</h1>
    <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path,  :class => 'navbar-link' %>

    <p class="login-alert"><%= flash[:alert] %></p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
         <%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <% if @email_errmsg.present? %>
          <div class="error-message">入力してください</div>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-success" %>
      </div>
    <% end %>
    <div class="links-new">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>