<%= javascript_include_tag "bookmarks.js" %>
<%= stylesheet_link_tag "bookmarks/new", :media => "all" %>

<div class="container">
	<h1>登録フォーム</h1>
	<div class="post-title">
		<span><%= link_to "ブックマーク", new_bookmark_path %></span>
		<span class="active">自作サービス</span>
	</div>
	<div class="new-posts">
		<%= form_for(@work) do |f| %>
			<div class="field">
				<%= f.label :servive_name, 'サービス名(必須）' %></br>
				<%= f.text_field :service_name %>
			</div>
			<div class="field">
				<%= f.label :url, 'URL（必須）' %></br>
				<%= f.text_field :url %>
			</div>
			<div class="field">
				<%= f.label :overview, 'サービスの概要' %></br>
				<%= f.text_field :overview %>
			</div>
			<div class="field">
				<%= f.label :description, 'サービスの詳細' %></br>
				<%= f.text_area :description %>
			</div>
			<div class="field">
				<%= f.label :service_image, 'メインイメージ' %></br>
				<%= f.attachment_field :service_image %>
			</div>
			<div class="field">
				<%= f.label :tag_list, 'タグ' %></br>
				<%= text_field_tag 'work[tag_list]', @work.tag_list.join(','), "data-role" => "tagsinput" %> <!-- 仮に -->
			</div>
			<div class="field">
				<%= f.label :is_published, '公開設定' %></br>
				<span>公開<%= f.radio_button :is_published, true %></span>
				<span>非公開<%= f.radio_button :is_published, false %></span>
			</div>
			<div class="field">
				<%= f.label :is_recommended, 'おすすめ設定' %></br>
				<span>する<%= f.radio_button :is_recommended, true %></span>
				<span>しない<%= f.radio_button :is_recommended, false %></span>
			</div>
			<div class="actions">
				<%= f.submit '投稿する', class: "btn btn-success" %>
			</div>
		<% end %>
	</div>
</div>