<div class="communications">
	<div class="favorite-button<%= @this_work.id %>">
		<% if @this_work.favorite_by?(current_user) %>
			<%= render 'users/favorited' %>
		<% else %>
			<%= render 'users/unfavorited' %>
		<% end %>
	</div>
	<%= link_to work_path(@this_work.id), :name => "comments" do %>
		<div class="comments">
			<i class="far fa-comment fa-2x"></i>
		</div>
	<% end %>
	<div class="favorite-count">
		<%= @this_work.favorites.count %><span>件のいいね!</span>
	</div>
</div>