<%= stylesheet_link_tag "users/show", :media => "all" %>

<div class="container container-mypage">
	<h1>mypage</h1>
	<div class="follow_button">
		<%= render 'follow_form' %>
	</div>
	<section class="user-profile">
		<div class="profile-main">
			<div class="icon-box">
				<div class="icon"></div>
			</div>
			<div class="user-info">
				<div class="name">
					<%= @user.email %>
				</div>
				<div class="links">
					<section class="stats">
						<%= render 'stats' %>
					</section>
				</div>
			</div>
		</div>
		<div class="profile-sub">
		</div>
	</section>
	<% unless @recommended_work.nil? %>
		<section class="recommended-work">
			<h3>つくったサービス</h3>
			<div class="work-box clearfix">
				<div class="work-image">
					<% if @recommended_work.service_image_id == nil %>
						<i class="far fa-image fa-4x"></i>
					<% else %>
						<%= attachment_image_tag @recommended_work, :service_image, :fill,200,200, fallback: "no_service_image" %>
					<% end %>
				</div>
				<div class="work-introduction">
					<p class="overview"><%= @recommended_work.overview %></p>
					<p class="description"><%= @recommended_work.description %></p>
					<p class="release_date"><%= @recommended_work.release_date %></p>
				</div>
		</section>
	<% end %>
	<section class="recommended-services">
		<h3>おすすめWebサービス</h3>
		<div class="services-box">
			<% @recommended_bookmarks.each.with_index(1) do |bookmark,i| %>
				<a href="<%= bookmark.url %>" target="_blank">
					<div class="service-box">
						<% if bookmark.service_image_id == nil %>
							<div class="recommended-service-image">
								<i class="far fa-image fa-4x"></i>
							</div>
						<% else %>
							<%= attachment_image_tag bookmark, :service_image,:fill,205,150, fallback: "no_service_image", class: "recommended-bookmark-image" %>
						<% end %>
						<div class="service-text">
							<p><%= bookmark.service_name %></p>
						</div>
					</div>
				</a>
				<% break if i == 3 %>
			<% end %>
		</div>
	</section>
	<section class="stock-services">
 		<div class="bookmarks">
 			<% @bookmarks.each do |bookmark| %>
				<div class="bookmark-item">
					<%= attachment_image_tag bookmark, :service_image,:fill,50,50, fallback: "no_service_image" %>
					<div class="item-body">
						<%= bookmark.overview %>
						<%= bookmark.url %>
					</div>
					<div class="tag-list">
						<ul>
						<% @tag_list.each do |tag| %>
							<li class ="tag"><%= tag %></li>
						<% end %>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	</section>
</div>
