<div class="user-profile">
</div>
<div class="user-list-box">
	<% @user.following.each do |user| %>
		<div class="user-box">
			<%= user.email %>
			<!-- render 'follow_formの判定は@userなのでここでは全て記述' -->
			<% unless user == current_user %>
				<div id="follow_form">
					<% if current_user.following?(user) %>
						<%= form_for(current_user.following_relationships.find_by(following_id: user.id), html: {method: :delete}) do |f| %>
							<%= f.submit 'フォロー中', class: "btn btn-primary" %>
						<% end %>
					<% else %>
						<%= form_for(current_user.following_relationships.build) do |f| %>
							<div><%= hidden_field_tag :following_id, user.id %></div>
							<%= f.submit 'フォロー', class: "btn btn-primary" %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>