<%= stylesheet_link_tag "root/top", :media => "all" %>

<div class="container-fluid">
	<section class="main-title">
		<div class="about-main">
			<div class="about-body">
				<div class="about-title">
					<h1 id="logo">Stockers</h1>
					<p class="title-description">ブックマーク共有サービス</p>
				</div>
				<div class="catch-copy">
					<p class="catch-copy">お気に入りのサービスを見せあおう</p>
				</div>
				<div class="buttons">
					<%= link_to 'ログイン', new_user_session_path ,class: "login-button btn btn-following" %>
					<%= link_to '新規登録', new_user_registration_path, class: "registration-button btn btn-following" %>
				</div>
			</div>
		</div>
	</section>
	<section class="usage-intro">
		<div class="about-overview">
			<div class="intro-wrap">
				<div class="intro-box">
					<div class="intro-bookmark">
						<p class="intro-title">ブックマークを登録</p>
						<p class="intro-text">
							● お気に入りのWebサービスを登録<br>
							● 他のユーザのブックマークを登録<br>
							● 投稿作品をブックマーク</p>
					</div>
				</div>
				<div class="intro-bookmark-image">
				</div>
			</div>
		</div>
		<div class="about-overview work">
			<div class="intro-wrap">
				<div class="intro-work-image-wrap">
					<div class="intro-work-image">
					</div>
				</div>
				<div class="intro-box right">
					<div class="intro-work">
						<p class="intro-title">自作サービスを投稿</p>
						<p class="intro-text">
							● つくったサービスをマイページに投稿<br>
							● 投稿されたサービスにいいね、コメント<br>
							● 自作サービスをブックマークする</p>
					</div>
				</div>
			</div>
		</div>
		<div class="about-overview recommend">
			<div class="intro-wrap">
				<div class="intro-box">
					<div class="intro-recommend">
						<p class="intro-title">おすすめを知る</p>
						<p class="intro-text">
							● おすすめのサービスを登録する<br>
							● 投稿作品をおすすめする<br>
							● おすすめサービスを試してみる<br>
						</p>
					</div>
				</div>
				<div class="intro-recommend-image">
				</div>
			</div>
		</div>
	</section>
	<section class="navigation">
		<div class="navigation-box">
			<p class="navigation-title">Stockersをはじめる</p>
			<div class="buttons">
				<%= link_to 'ログイン', new_user_session_path ,class: "login-button btn btn-following" %>
				<%= link_to '新規登録', new_user_registration_path, class: "registration-button btn btn-following" %>
			</div>
		</div>
	</section>
</div>
