<!DOCTYPE html>
<html>
  <head>
    <title>Stockers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <!-- <link rel="stylesheet" href="style.css"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
    <!-- ヘッダー -->
    <div class="my-header">
      <div class="header-wrapper">
        <div class="header-contents">
          <div class="logo">
            <%= link_to 'ログイン', new_user_session_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </div>
          <% if user_signed_in? %>
            <div class="user-menu">
              <div class="dropdown-box">
                <div class="user-info-header">
                  <div>
                    <p class="user-name-header"><%= current_user.name %></p>
                    <p class="user-nickname-header"><%= current_user.nickname %></p>
                 </div>
                </div>
                <div class="user-icon">
                  <%= attachment_image_tag current_user, :image, :fill,40,40,fallback: "no_user_image", format: "png", class: "header-icon" %>
                </div>
              </div>
              <div id="dropdown-window">
                  <%= link_to user_path(current_user.id) do %>
                    <div class="dropdown-content"><span>マイページ</span></div>
                  <% end %>
                  <%= link_to edit_user_path(current_user.id) do %>
                    <div class="dropdown-content"><span>ユーザー設定</span></div>
                  <% end %>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <div class="dropdown-content"><span>ログアウト</span></div>
                  <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>
    <% if user_signed_in? %>
      <div class="my-footer">
        <div class="footer-wrapper">
            <div class="nav-links">
              <%= link_to search_bookmark_path(current_user.id) do %>
                <div class="nav-my-bookmark">
                  <i class="far fa-folder-open fa-2x"></i>
                </div>
              <% end %>
              <%= link_to new_bookmark_path do %>
                <div class="nav-new-bookmark">
                  <i class="far fa-plus-square fa-2x"></i>
                </div>
              <% end %>
              <%= link_to user_path(current_user.id) do %>
                <div class="nav-user-page">
                  <%= attachment_image_tag current_user, :image, :fill, 30, 30, fallback: "no_user_image", format: "png", class: "footer-icon" %>
                </div>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  </body>
</html>
