<!DOCTYPE html>
<html>
  <head>
    <title>Stockers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <div class="my-header">
      <div class="container wrapper">
        <div class="contents">
          <%= link_to 'ログイン', new_user_session_path %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% if user_signed_in? %>
            <span><%= current_user.email %>でログイン中</span>
          <% end %>
        </div>
      </div>

    <%= yield %>
  </body>
</html>
