<!DOCTYPE html>
<html>
  <head>
    <title>Stockers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800" rel="stylesheet">

    <!-- <link rel="stylesheet" href="style.css"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
    <!-- ヘッダー -->
    <div class="my-header">
      <div class="header-wrapper">
        <div class="header-contents">
          <% if user_signed_in? %>
            <%= link_to user_path(current_user.id) do %>
              <div id="logo">Stockers</div>
            <% end %>
          <% else %>
            <%= link_to root_path do %>
              <div id="logo">Stockers</div>
            <% end %>
          <% end %>
          <div class="contents-navigation">
          <!-- ログイン状態判別 -->
          <% if user_signed_in? %>
            <div class="bookmark-menu">
              <div class="nav-box">
                <%= link_to search_bookmark_path(current_user.id) do %>
                <div class="nav-button  bookmark-nav">
                  <i class="fas fa-folder-open"></i>
                  <span>ブックマーク一覧</span>
                </div>
               <% end %>
              </div>
              <div class="nav-box">
                <%= link_to new_bookmark_path do %>
                  <div class=" nav-button new-bookmark-nav">
                    <i class="fas fa-plus"></i>
                    <span>新規登録</span>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="user-menu">
              <div class="dropdown-box">
                <div class="user-info-header">
                  <div>
                    <p class="user-name-header"><%= current_user.name %></p>
                    <p class="user-nickname-header">@<%= current_user.nickname %></p>
                 </div>
                </div>
                <div class="user-icon">
                  <%= attachment_image_tag current_user, :image, :fill,40,40,fallback: "no_user_image", format: "png", class: "header-icon" %>
                </div>
              </div>
              <div id="dropdown-window">
                  <%= link_to user_path(current_user.id) do %>
                    <div class="dropdown-content"><span>マイページ</span></div>
                  <% end %>
                  <%= link_to edit_user_path(current_user.id) do %>
                    <div class="dropdown-content"><span>ユーザー設定</span></div>
                  <% end %>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <div class="dropdown-content"><span>ログアウト</span></div>
                  <% end %>
              </div>
            </div>
          <% else %>
          <!-- ログインしていない場合 -->
            <div class="bookmark-menu">
              <%= link_to 'ログイン', new_user_session_path, class: "btn btn-follow header-login" %>
              <%= link_to '新規登録', new_user_registration_path, class: "btn btn-following header-signup" %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>
    <% if user_signed_in? %>
      <div class="my-footer">
        <div class="footer-wrapper">
            <div class="nav-links">
              <%= link_to users_path do %>
                <div class="nav-users">
                  <i class="fas fa-users fa-2x"></i>
                </div>
              <% end %>
              <%= link_to search_bookmark_path(current_user.id) do %>
                <div class="nav-my-bookmark">
                  <i class="far fa-folder-open fa-2x"></i>
                </div>
              <% end %>
              <%= link_to new_bookmark_path do %>
                <div class="nav-new-bookmark">
                  <i class="far fa-plus-square fa-2x"></i>
                </div>
              <% end %>
              <%= link_to user_path(current_user.id) do %>
                <div class="nav-user-page">
                  <%= attachment_image_tag current_user, :image, :fill, 30, 30, fallback: "no_user_image", format: "png", class: "footer-icon" %>
                </div>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  </body>
</html>
